.container_title task detail
.container_body
  %h1= @task.name.humanize
  .project_status
    Status
    - if @task.closed?
      %span.project_closed Closed
    - else
      %span.project_open Open
    |
    Due at
    = @task.due_at.strftime("%d, %B %Y")
    |
    assigned to
    = @task.users.collect{|user| link_to user.full_name, user_path(user) }.join(',').html_safe
    
  .project_description= @task.description
  
  .comment_area
    - unless @task.comments.present?
      %h5 There is no comment yet
    - else
      %h5 Comments
      %ul
        - @task.comments.task_comments(@task.id).each do |comment|
          %li
            = comment.content.html_safe
            .project_status
              Created at : 
              = comment.created_at.strftime("%d, %B %Y")
              | by  
              = link_to comment.user.full_name, user_path(comment.user)
        
    - @comment = Comment.new
    = form_for @comment, :url => project_milestone_task_comments_path(@project,@milestone,@task) do |f|
      = f.hidden_field :task_id, :value => @task.id
      = f.hidden_field :user_id, :value => current_member.id
      %table
        %tr
          %td= f.text_area :content, :id => :comment_text_area, :rows => 10, :cols => 70
        %tr
          %td= f.submit