.container_title Dashboard
.container_body
  - if @all_projects.present?
    %h1 Projects
    %ul
      - @all_projects.each do |project|
        %li 
          = link_to project.name, project_path(project)
          %div 
            = "Due at #{project.due_at.strftime('%d, %B %Y')} and assigned to"
            = project.users.collect{ |user| link_to user.full_name, user_path(user) }.join(',').html_safe
          
  %h1 Recent Activity
  - if @today_activity.present?
    %ul
      %li
        %h3 Today
        .recent_activity
          %ul
            - @today_activity.each do |activity|
              %li
                %div= activity.content.html_safe
                
  - if @yesterday_activity.present?
    %ul
      %li
        %h3 Yesterday
        .recent_activity
          %ul
            - @yesterday_activity.each do |activity|
              %li
                %div= activity.content.html_safe
          