!!!
%html
  %head
    = stylesheet_link_tag :all
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    = render :partial => "shared/header" if current_member.present?
    .container_left
      - if alert.present?
        .error_message= alert
      - if notice.present?
        .success_message= notice
      = yield
    = render :partial => "shared/footer"

    
